body {
    background-color: white;
    font-family: sans-serif;
}

.whole {
    margin: 4rem auto;
    height: 28rem;
    width: 16rem;
    border: black 0.7rem solid;
    border-radius: 2.5em;
    box-shadow: 2px 10px 15px 6px #cbcdd0;
    overflow: hidden;
}

.sub-head {
    width: 9rem;
    height: 1.2rem;
    background-color: black;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 38.5rem;
    top: 4.7rem;
}

.blue {
    width: 32rem;
    height: 15rem;
    transform: skewX(60deg);
    -webkit-transform: skewX(60deg);
    -webkit-transform: ;
    background-color: #5288f4;
    margin-left: 3rem;
    margin-top: -3.3rem;
    position: relative;
}

.p1 {
    transform: skewX(-60deg);
    position: absolute;
    bottom: 8.8rem;
    right: 23rem;
    font-family: sans-serif;
    color: white;
    font-size: small;
}

.img1 {
    height: 9.5rem;
    width: 14.5rem;
    position: absolute;
    right: 35.5rem;
    top: 8rem;
}

.head1 {
    margin-top: 2.5rem;
    display: flex;
    margin-left: 0.5rem;
}

.p2 {
    font-size: smaller;
    font-weight: bolder;
}

.p3 {
    font-size: 0.7rem;
    color: #afb3b6;
}

.main-body {
    width: 2.3rem;
    height: 1.3rem;
    border-radius: 10px;
    border: 0.1rem #e3e3e3 solid;
    display: flex;
    align-items: center;
    margin-left: 3.3rem;
}

.round {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    border: 0.1rem #e3e3e3 solid;
}

.img2 {
    margin-right: 0.5rem;
}

.head2 {
    margin-top: 1rem;
    display: flex;
    margin-left: 0.5rem;
}

.main-body1 {
    width: 2.3rem;
    height: 1.3rem;
    border-radius: 10px;
    border: 0.1rem #e3e3e3 solid;
    display: flex;
    align-items: center;
    margin-left: 2.6rem;
    background-color: #5288f4;
}

.main-body2 {
    width: 2.3rem;
    height: 1.3rem;
    border-radius: 10px;
    border: 0.1rem #e3e3e3 solid;
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.main-body3 {
    width: 2.3rem;
    height: 1.3rem;
    border-radius: 10px;
    border: 0.1rem #e3e3e3 solid;
    display: flex;
    align-items: center;
    margin-left: 2.8rem;
}