body {
    background-color: white;
    font-family: sans-serif;
}

.whole {
    margin: 4rem auto;
    height: 28rem;
    width: 16rem;
    border: black 0.7rem solid;
    border-radius: 2.5em;
    box-shadow: 2px 10px 15px 6px #cbcdd0;
    overflow: hidden;
}

.sub-head {
    width: 9rem;
    height: 1.2rem;
    background-color: black;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 38.5rem;
    top: 4.7rem;
}

.blue {
    width: 32rem;
    height: 15rem;
    transform: skewX(60deg);
    -webkit-transform: skewX(60deg);
    -webkit-transform: ;
    background-color: #5288f4;
    margin-left: 3rem;
    margin-top: -3.3rem;
    position: relative;
}

.p1 {
    transform: skewX(-60deg);
    position: absolute;
    bottom: 8.8rem;
    right: 23rem;
    font-family: sans-serif;
    color: white;
    font-size: small;
}

.img1 {
    height: 9.5rem;
    width: 14.5rem;
    position: absolute;
    right: 35.5rem;
    top: 8rem;
}

.head1 {
    margin-top: 2.5rem;
    display: flex;
    margin-left: 0.5rem;
}

.p2 {
    font-size: smaller;
    font-weight: bolder;
}

.p3 {
    font-size: 0.7rem;
    color: #afb3b6;
}

.img2 {
    margin-right: 0.5rem;
}

.head2 {
    margin-top: 1.5rem;
    display: flex;
    margin-left: 0.5rem;
}


/* toggle in label designing */

.toggle1 {
    position: relative;
    display: inline-block;
    width: 2.3rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #e3e3e3;
}


/* After slide changes */

.toggle1:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    top: 0.5px;
    left: 1px;
    transition: all 0.5s;
    border: 0.1rem #e3e3e3 solid;
}


/* Checkbox cheked effect */

.box1:checked+.toggle1::after {
    left: 20px;
}


/* Checkbox cheked toggle label bg color */

.box1:checked+.toggle1 {
    background-color: #5288f4;
}


/* Checkbox vanished */

.box1 {
    display: none;
}


/* toggle in label designing */

.toggle2 {
    position: relative;
    display: inline-block;
    width: 2.3rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #e3e3e3;
}


/* After slide changes */

.toggle2:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    top: 0.5px;
    left: 1px;
    transition: all 0.5s;
    border: 0.1rem #e3e3e3 solid;
}


/* Checkbox cheked effect */

.box2:checked+.toggle2::after {
    left: 20px;
}


/* Checkbox cheked toggle label bg color */

.box2:checked+.toggle2 {
    background-color: #5288f4;
}


/* Checkbox vanished */

.box2 {
    display: none;
}


/* toggle in label designing */

.toggle3 {
    position: relative;
    display: inline-block;
    width: 2.3rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #e3e3e3;
}


/* After slide changes */

.toggle3:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.5s;
    border: 0.1rem #e3e3e3 solid;
}


/* Checkbox cheked effect */

.box3:checked+.toggle3::after {
    left: 20px;
}


/* Checkbox cheked toggle label bg color */

.box3:checked+.toggle3 {
    background-color: #5288f4;
}


/* Checkbox vanished */

.box3 {
    display: none;
}


/* toggle in label designing */

.toggle4 {
    position: relative;
    display: inline-block;
    width: 2.3rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #e3e3e3;
}


/* After slide changes */

.toggle4:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.5s;
    border: 0.1rem #e3e3e3 solid;
}


/* Checkbox cheked effect */

.box4:checked+.toggle4::after {
    left: 20px;
}


/* Checkbox cheked toggle label bg color */

.box4:checked+.toggle4 {
    background-color: #5288f4;
}


/* Checkbox vanished */

.box4 {
    display: none;
}